services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: persuratan_app_fixed
    restart: always
    
    env_file:
      - stack.env

    ports:
      - "3000:3000"